<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">
	
    <!-- dao配置 -->
	<bean id="smsDao" class="cc.messcat.dao.sms.SmsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- service配置 -->
	<bean id="smsService" class="cc.messcat.service.sms.SmsServiceImpl">
		<property name="smsDao" ref="smsDao"/>
	</bean>
	
	
	 <!-- action配置 -->
    <bean id="smsAction" class="cc.messcat.web.server.SmsAction" scope="prototype">
		<property name="smsService" ref="smsService"/>
    </bean>
    
</beans>