<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">

	<bean id="consultRecordDao" class="cc.messcat.dao.system.ConsultRecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="consultServerDao" class="cc.messcat.dao.system.ConsultServerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="consultRecordManagerDao" class="cc.messcat.service.system.ConsultRecordManagerDaoImpl">
		<property name="consultRecordDao" ref="consultRecordDao"/>
	</bean>
	<bean id="consultServerManagerDao" class="cc.messcat.service.system.ConsultServerManagerDaoImpl">
		<property name="consultServerDao" ref="consultServerDao"/>
	</bean>

	<bean id="consultAction" class="cc.messcat.web.server.ConsultAction" scope="prototype">
		<property name="consultRecordManagerDao" ref="consultRecordManagerDao"/>
		<property name="consultServerManagerDao" ref="consultServerManagerDao"/>
	</bean>

</beans>