<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">

	<bean id="welcomeDao" class="cc.messcat.dao.system.WelcomeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="welcomeManagerDao" class="cc.messcat.service.system.WelcomeManagerDaoImpl">
		<property name="welcomeDao" ref="welcomeDao"/>
	</bean>

	<!-- action的配置 -->
	<bean id="welcomeAction" class="cc.messcat.web.server.WelcomeAction" scope="prototype">
		<property name="welcomeManagerDao" ref="welcomeManagerDao"/>
	</bean>
    
</beans>