<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">
	
        
	<!-- dao配置 -->
	<bean id="expertClassifyDao" class="cc.messcat.dao.payconsult.ExpertClassifyDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="hotReplyDao" class="cc.messcat.dao.payconsult.HotReplyDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- service配置 -->
	<bean id="expertClassifyService" class="cc.messcat.service.paycosult.ExpertClassifyServiceImpl">
		<property name="expertClassifyDao" ref="expertClassifyDao"/>
	</bean>
	<bean id="hotReplyService" class="cc.messcat.service.paycosult.HotReplyServiceImpl">
		<property name="hotReplyDao" ref="hotReplyDao"/>
		<property name="buysRecordDao" ref="buysRecordDao"/>
		<property name="expenseTotalDao" ref="buysRecordNewDao"/>
	</bean>
	
	<!-- action配置 -->
	<bean id="payConsultAction" class="cc.messcat.web.server.PayConsultAction" scope="prototype">
		<property name="expertClassifyService" ref="expertClassifyService"/>
		<property name="hotReplyService" ref="hotReplyService"/>
		<property name="expertManagerDao" ref="expertManagerDao"/>
	</bean>
    
</beans>