<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">

	<bean id="loginAction" class="cc.messcat.web.server.LoginAction"
		  scope="prototype">
		<property name="memberManagerDao" ref="memberManagerDao"/>
		<property name="bankManagerDao" ref="bankManagerDao"/>
		<property name="whiteListManagerDao" ref="whiteListManagerDao"/>
	</bean>

</beans>