<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">

	<bean id="systemDao" class="cc.messcat.dao.system.SystemDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="systemManagerDao" class="cc.messcat.service.system.SystemManagerDaoImpl">
		<property name="systemDao" ref="systemDao"/>
	</bean>

	<bean id="systemAction" class="cc.messcat.web.server.SystemAction" scope="prototype">
		<property name="systemManagerDao" ref="systemManagerDao"/>
	</bean>

</beans>